*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(images/2.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.nav-bar{
    justify-content: space-between ;
    display: flex;
    height: 90px;
}
.check img{
     size: 10px;
     height: 100px;
     width: 50px;
}
.nav-bar ul{
    text-decoration: none;
    display: flex;
    margin: 50px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    text-decoration: rgb(249, 8, 8);
}


.nav-bar a{
    position: relative;
   font-size: 1.1em;
   color: rgb(254, 250, 250);
   text-decoration: none;
   font-weight: 500;
   margin-left: 100px; 
   font-weight: bold; 
}
.nav-bar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    width: 100%;
    height: 3px;
    background: rgb(254, 169, 169);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav-bar a:hover::after{
    transform-origin:left;
    transform: scaleX(1);

}
.nav-bar .btnlogin{
    text-decoration: rgb(242, 235, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90px;
    height: 25px;
    background: transparent;
    border: 2px solid rgb(255, 255, 5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(253, 243, 241);
    font-weight: bold;
    margin-left: 40px;
    transition: .5s;
}
.nav-bar .btnlogin:hover{
    background: rgb(234, 135, 13);
    color: rgb(249, 241, 241);
}
.menu-sharp{
    color: white;
    height: 50px;
    width: 50px;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 36px;
}
.home{
    position: absolute;
    bottom: 0;
    
}
.text-box{
    position: absolute;
    bottom: 15%;
    margin-left: 30px;
    margin-top: 290px;
}
.text-box p{
    font-size: 35px;
    font-weight: 450;
    margin-left: 10px;
    color: rgb(243, 249, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.text-box h1{
    font-size: 170px;
    line-height: 160px;
    -webkit-text-stroke: 1px #f3eee8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: transparent;
    position: relative;
}
.text-box h1::before{
    content: "PSYCHO";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: rgb(59, 235, 238);
    border-inline-start-style:  solid rgb(26, 177, 188);
    transition: 1s ease-in-out;

}
.text-box h1:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 10px rgb(251, 161, 17));
}

.text-box h3{
    font-size: 22px;
    font-weight: 100;
    font-weight: 10px;
    color: rgb(232, 241, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-box{
    width: 30%;
    height: 80%;
    display: flex;
    border-radius: 30%;
    position: absolute;
    bottom: 0%;
    padding-left: 1000px;  
}
.inform a{
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items:center ;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 40%;
    font-size: 30px;
    color: rgb(255, 114, 14);
    margin: 30px 25px 30px 0;
    

}
.inform a.whatsapp:hover{
    background: linear-gradient(#5FFC7B,#28D146);
    color: rgb(253, 254, 252);
    box-shadow: 0 0 25px rgb(10, 251, 10);
    
}
.inform a.facebook:hover{
    background: linear-gradient(#0165E1,#17A9FD);
    color: rgb(253, 254, 252);
    box-shadow: 0 0 25px rgb(1, 101, 225);
    
}
.inform a.instagram:hover{
    background:linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d,#F56040,#F77737,#FCAF45,#FFDC80,#FFFFFF );
    color: rgb(253, 254, 252);
    box-shadow: 0 0 25px rgb(251, 10, 179);
    
}
.inform a.twitter:hover{
    background: rgb(27, 168, 255);
    color: rgb(252, 251, 251);
    box-shadow: 0 0 25px rgb(27, 168, 255);
    
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    text-decoration: none;
    border-radius: 30px;
    color: #a14b4b;
    letter-spacing: 1px;
    font-weight: 400;

}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan;

}
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 100vh;
    background: url(images/1.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;

}
.about-img img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
  
  
}
.about-text{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-text h2{
    font-size: 40px;
    color: rgb(239, 233, 233);
    padding-top: 90px;
    padding-bottom: 70px;
}
.about-text h2 span{
    color: rgb(23, 241, 231);
}
.about-text p{
    color: white;
    display: grid;
    font-size: 25px;
    padding-bottom: 150px;
}
.download{
    
    margin-top: 200vh;
    
}
#myImage{
    height: 250px;
    display: block;
}
.button{
    padding: 6px;
    margin: 0.5em 0;
    background: #0ef;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
/*---media queries-*/
@media screen and (min-width: 600px) {

    .text-box h1{
        font-size: 50px;
        line-height: 50px;
        -webkit-text-stroke: 1px #f3eee8;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: transparent;
      
    }
}
    
